<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DigitalOcean Droplets</title>

    <!-- Import Pure CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock head %}
</head>

<body>
<header>
    <h1>DigitalOcean Droplets</h1>
</header>

<main>
    {% block main %}
    {% block content %}{% endblock %}
    {% endblock main %}
</main>

<footer>
    <div>
        <span id="rendered">R: {{ rendered_at(time_zone) }}</span> | 
        <span id="version">V: {{ app_version }}</span>
    </div>
</footer>
</body>
</html>
